<section class="brothersOfHonor section-padding" id="brothersOfHonor">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2 class="titulo">Brothers of Honor</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>
        <div class="row informativeText">
            <div class="col col-md-10 col-md-offset-1">
                <p>Eles representam os melhores amigos do noivo. São os responsáveis pela zueira sem fim! Eles são a graça dos acampamentos, churrascos e pescarias. Não poderiam deixar de estar também em evidência neste dia tão especial.</p>
            </div>
        </div>
        <div class="row wow fadeInRightSlow" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Daniel Santiago.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Daniel Santiago">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Daniel Santiago.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Daniel Santiago</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Fernando Ferreira.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Fernando Ferreira">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Fernando Ferreira.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Fernando Ferreira</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Gabriel Aires.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Gabriel Aires">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Gabriel Aires.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Gabriel Aires</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Gustavo Meira.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Gustavo Meira">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Gustavo Meira.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Gustavo Meira</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Lourival Filho.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Lourival Filho">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Lourival Filho.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Lourival Filho</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noivo/grande/Marcus Vinícius.jpg" class="fancybox" data-fancybox="brothersOfHonor" data-caption="Marcus Vinícius">
                    <img src="~/Content/MyImages/Friends/Noivo/pequeno/Marcus Vinícius.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Marcus Vinícius</div>
            </div>
        </div>
    </div>
</section>

