
<section class="section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="people">
    <div class="container wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Quem vai estar lá</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row informativeText">
            <div class="col-md-10 col-md-offset-1">
                <p>Todos nós sabemos como é difícil fazer uma festa de casamento. Portanto pouquíssimas pessoas foram convidadas. Nos limitamos apenas à nossa família e amigos muito próximos. Então se você não recebeu o convite, não duvide da nossa amizade, ela continua forte como nunca.</p>
                <p>É muito importante sabermos quem realmente vai estar presente no dia da festa. Então se você é um dos poucos que receberam o convite e já marcou o compromisso conosco no dia 14/10/2017 às 17:00, então por favor <a href="javascript:;" class="confirmationLink">confirme sua presença.</a></p>
            </div>
        </div>

        <div class="row wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.1s"">
                <div class="peopleConfirmedList owl-carousel owl-theme">
                </div>
        </div>
    </div>


</section>
