
<section class="couple section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="couple">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>O Casal</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row bride">
            <div class="col col-md-4 col-md-push-8 col-sm-5 col-sm-push-7 wow fadeInRightSlow" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="pic">
                    <img src="~/Content/MyImages/Perfil/Sandra.jpg" class="img img-responsive" alt="" />
                </div>
            </div>

            <div class="col col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5">
                <div class="details wow fadeInRightSlow" data-wow-duration="1s">
                    <span>A Noiva</span>
                    <h4>Sandra Ribeiro</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <colgroup>
                                <col class="first-col">
                                <col class="sec-col">
                            </colgroup>
                            <tr>
                                <td>Nome</td>
                                <td>Sandra Aparecida Soares Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Mãe</td>
                                <td>Maria Soares Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Pai</td>
                                <td>Valdomiro Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Nascimento</td>
                                <td>14/01/1987</td>
                            </tr>
                        </table>
                    </div>
                    <p>Escrever a biografia aqui</p>
                    <ul class="social-links">
                        <li><a target="_blank" href="https://www.facebook.com/sandrinhabr5"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <hr />
                </div>
            </div>
        </div> <!-- end of bride -->


        <div class="row groom">
            <div class="col col-md-4 col-sm-5 wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="pic">
                    <img src="~/Content/MyImages/Perfil/Jhonatas.jpg" class="img img-responsive" alt="" />
                </div>
            </div>
            <div class="col col-md-8 col-sm-7 wow fadeInLeftSlow" data-wow-duration="1s">
                <div class="details">
                    <span>O Noivo</span>
                    <h4>Jhonatas Lima</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <colgroup>
                                <col class="first-col">
                                <col class="sec-col">
                            </colgroup>
                            <tr>
                                <td>Nome</td>
                                <td>Jhonatas Henrique de Lima Mota</td>
                            </tr>
                            <tr>
                                <td>Pai</td>
                                <td>Carlos Henrique de Oliveira Mota</td>
                            </tr>
                            <tr>
                                <td>Mãe</td>
                                <td>Rosângela Lopes de Lima Mota</td>
                            </tr>
                            <tr>
                                <td>Nascimento</td>
                                <td>17/03/1985</td>
                            </tr>
                        </table>
                    </div>
                    <p>Nascido em Brasília, chegou em Palmas com sua família aos oito anos de idade. Foi criado sob a doutrina evangélica, mas ao longo da vida vem tirando suas próprias conclusões ao refletir sobre as diferenças entre religiosidade e espiritualidade. Amante de café, queijo, vinho e tecnologia é um aficionado assumido por desenvolvimento de software, concluiu sua primeira graduação em 2004 e sua segunda em 2013, ambas em tecnologia. Hoje atua como desenvolvedor de softwares e sonha em um dia ter um iate. (Sonha alto, diga-se de passagem). No mundo amoroso sempre teve o dedo estragado até Deus colocar na sua frente a pessoa que faria seu mundo virar de cabeça pra baixo. Teve várias desilusões e frustações amorosas esperando por uma pessoa que seguisse um certo padrão, não sabendo que Deus tinha algo muito melhor preparado para ele. Hoje está noivo e os olhos brilham ao pensar que irá começar uma nova vida, mesmo que aos 30 e poucos, mas ao lado da pessoa mais perfeita que ele poderia imaginar.</p>
                    <ul class="social-links">
                        <li><a target="_blank" href="https://www.facebook.com/jhlmota"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- end of groom -->

    </div> <!-- end of container -->
</section>
