
<section class="couple section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="couple">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>O Casal</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="bride details">
            <div class="col col-lg-12">
                <div class="wow fadeInRightSlow" data-wow-duration="1s">
                    <div class="col col-lg-4 wow fadeInRightSlow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="pic">
                            <img src="~/Content/MyImages/Perfil/Sandra.jpg" class="img img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <span>A Noiva</span>
                        <h4>Sandra Ribeiro</h4>
                        <table class="table">
                            <colgroup>
                                <col class="first-col">
                                <col class="sec-col">
                            </colgroup>
                            <tr>
                                <td>Nome</td>
                                <td>Sandra Aparecida Soares Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Mãe</td>
                                <td>Maria Soares Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Pai</td>
                                <td>Valdomiro Ribeiro</td>
                            </tr>
                            <tr>
                                <td>Nascimento</td>
                                <td>14/01/1987</td>
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <td>
                                    <ul class="social-links">
                                        <li><a target="_blank" href="https://www.facebook.com/sandrinhabr5"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 wow fadeInRightSlow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <p>Sou filha de mineiro com Goiana, nasci em Colinas-TO, quando era de Goiás (porém meu pai esperou a divisão dos estados para me registrar como Tocantinense, mas sou Goiana rs), morei  lá até 1 ano de idade quando nos mudamos pra uma fazenda no município de Juarina (sim, fica no Tocantins também), vivi uma infância muito simples porém regada de muito amor. Filha de peixe, peixinho é, e assim como meus pais, sou fã de moda de viola, adorava ir pra roça com meu pai e meus irmãos (mais atrapalhava que ajudava rsrs), tomar leite de manhã a beira do curral, andar a cavalo, pescar, comer queijo, fazer farinha, colher mel, etc. Estudei em escola rural, depois levantava as 4 da manhã pra ir pra cidade estudar, e tudo era felicidade. O tempo foi passando meus irmãos foram ficando sem oportunidades na região, e começaram a vir embora pra Palmas um a um, ficando apenas eu e meus velhos na fazenda. Minha mãe sempre foi muito católica e assim foi nossa educação religiosa, tínhamos até uma igrejinha na nossa terrinha onde recebi a missão com apenas 13 anos de idade de estar a frente das celebrações aos domingos, claro com o auxílio da minha mãe(me sentia né)! Com a pressão dos meus irmãos para juntar toda a família novamente, vendemos tudo lá e chegamos a Palmas em 2004, eu já com 15 anos, foi aí que meu pai cumpriu sua promessa e deixou eu ter meu primeiro namoradinho, claro que sempre ao alcance de suas vistas. Terminei minha primeira graduação em 2005, Ainda não conclui a faculdade, mas serei uma futura delegada se assim Deus permitir. De lá pra cá aconteceram um turbilhão de coisas boas e outras ruins e uma delas foi em 2007, quando Deus levou meu pai. A vida continuou com outras provações pra minha família, mas graças a Deus conseguimos retomar! Como o crivo de aprovação da D. Maria era muito alto para meus relacionamentos e eu sempre tentava obedecer ao máximo, tive poucos relacionamentos, lógico que com o tempo a vida vai nos ensinando a fazer nossas próprias escolhas, pena que nem sempre são as melhores, diante disso eu fui ficando desiludida em sonhar com uma vida a dois. Mesmo assim eu pedia a Deus todos os dias alguém que me faria sentir as melhores e mais felizes sensações, alguém que ninguém escolheria, nem mesmo eu, e sim que Deus escolheria para mim, que viesse acompanhado de uma família que me acolheria com carinho e respeito. Demorou, mas ele provou seu amor por mim mais uma vez. Hoje tenho a certeza  que Deus colocou fim à minha espera, e me deu de presente o amor mais paciente e cuidadoso. O único que conseguiu despertar em mim o desejo de formar uma família. Serei sempre grata a Deus por minha família, por tudo que meus pais me ensinaram a amar e acreditar, e principalmente a sempre entregar aos cuidados de Deus a nossa felicidade. Eu entreguei, e sei que nosso futuro é projeto de Deus.</p>
                    </div>
                    <hr />
                </div>
            </div>
        </div> <!-- end of bride -->


        <div class="groom details">
            <div class="col col-lg-12">
                <div class="wow fadeInLeftSlow" data-wow-duration="1s">
                    <div class="col col-lg-8">
                        <span>O Noivo</span>
                        <h4>Jhonatas Lima</h4>
                        <table class="table">
                            <colgroup>
                                <col class="first-col">
                                <col class="sec-col">
                            </colgroup>
                            <tr>
                                <td>Nome</td>
                                <td>Jhonatas Henrique de Lima Mota</td>
                            </tr>
                            <tr>
                                <td>Pai</td>
                                <td>Carlos Henrique de Oliveira Mota</td>
                            </tr>
                            <tr>
                                <td>Mãe</td>
                                <td>Rosângela Lopes de Lima Mota</td>
                            </tr>
                            <tr>
                                <td>Nascimento</td>
                                <td>17/03/1985</td>
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <td>
                                    <ul class="social-links">
                                        <li><a target="_blank" href="https://www.facebook.com/jhlmota"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col col-lg-4 col-sm-5 wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="pic">
                            <img src="~/Content/MyImages/Perfil/Jhonatas.jpg" class="img img-responsive" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col col-lg-12 wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.2s">
                    <p>Nasci em Brasília, cheguei em Palmas com minha família aos oito anos de idade. Fui criado sob a doutrina evangélica, mas ao longo da vida venho tirando minhas próprias conclusões ao refletir sobre as diferenças entre religiosidade e espiritualidade. Fui músico na igreja, toco saxofone e adoro música clássica, jazz e sertanejo (Sertanejo, mais que os outros). Amante de café, queijo, vinho e tecnologia, sou um aficionado assumido por desenvolvimento de software, concluí minha primeira graduação em 2004 e minha segunda em 2013, ambas em tecnologia. Hoje atuo como desenvolvedor de softwares e sonho em um dia ter um iate. (Sonho alto, diga-se de passagem). No mundo amoroso sempre tive o dedo estragado até Deus colocar na minha frente a pessoa que faria meu mundo virar de cabeça pra baixo. Tive várias desilusões e frustações amorosas esperando por uma pessoa que seguisse um certo padrão, não sabendo eu que Deus tinha algo muito melhor preparado. Com os erros nas escolhas eu acabei traçando um perfil ideal de garota, que parecia impossível de se encontrar. Eu brincava conversando com a minha mãe sobre a garota que eu queria e dizia: “Mãe, preciso de uma pessoa simples, que veio da fazenda, que saiba fazer queijo sabe? Daquelas desprendidas de coisas fúteis, uma pessoa que esteja ao meu lado em qualquer situação e que o que realmente importe para ela seja meu sentimento e nada mais”. Eu pedia pra Deus uma garota que estivesse disposta a crescer junto comigo, que me amasse pelo que sou, fosse atraída pela minha pessoa. A parte do queijo e da fazenda era só brincadeira, mas Deus levou tudo em consideração e me deu de presente a pessoa que foi desenhada em meus sonhos. Ela cresceu numa fazenda em Juarina – TO e tem todos os requisitos que descrevi e muito mais. Hoje estou noivo e meus olhos brilham ao pensar que irei começar uma nova vida, mesmo que aos 30 e poucos, mas ao lado da pessoa mais perfeita que eu poderia imaginar.</p>
                </div>
            </div>
        </div>
    </div>
</section>
