<section class="count-down">
    <div class="container">
        <div class="row">
            <div class="col col-md-4 hidden-sm hidden-xs">
                <h2>Nosso grande dia</h2>
            </div>
            <div class="col col-md-8">
                <div id="clock"></div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section>
