<section class="demoiselles section-padding" id="demoiselles">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2 class="TituloPadrinhos">Demoiselles</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>
        <div class="row wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Beatriz Rodrigues.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Beatriz Rodrigues">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Beatriz Rodrigues.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Beatriz Rodrigues</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Brena Amorim.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Brena Amorim">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Brena Amorim.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Brena Amorim</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Hannah Harent.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Hannah Harent">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Hannah Harent.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Hannah Harent</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Lena Farias.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Lena Farias">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Lena Farias.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Lena Farias</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Maria Oneide.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Maria Oneide">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Maria Oneide.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Maria Oneide</div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-2">
                <a href="/Content/MyImages/Friends/Noiva/grande/Rafaella Novais.jpg" class="fancybox" data-fancybox="demoiselles" data-caption="Rafaella Novais">
                    <img src="~/Content/MyImages/Friends/Noiva/pequeno/Rafaella Novais.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Rafaella Novais</div>
            </div>
        </div>
    </div>
</section>
