
<section class="events section-padding" id="events">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>O Evento</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div> <!-- end of section-title -->

        <div class="row content wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="col col-md-5">
                <div class="event-boxes">
                    <div class="left-half"></div>
                    <div class="right-half"></div>
                    <div class="clip"><i class="fi flaticon-clip-1"></i></div>
                    <div class="event-box-inner">
                        <div class="main-ceromony">
                            <h3>Local da Cerimônia</h3>
                            <ul>
                                <li><i class="fa fa-location-arrow"></i>Sítio Sfalcin.</li>
                                <li><i class="fa fa-location-arrow"></i>TO-020 Km 16 na estrada para Aparecida do Rio Negro</li>
                                <li><a target="_blank" href="https://goo.gl/maps/1u95brsB9vJ2"><i class="fa fa-location-arrow"></i>Google Maps</a></li>
                                <li><i class="fa fa-calendar"></i> Sábado, 14 Outubro 2017 às 16:47H</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-7 sfalcin-grid-container">
                <div class="sfalcin-grid owl-carousel owl-theme">
                    <a href="~/Content/MyImages/Evento/img (1).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (1).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                    <a href="~/Content/MyImages/Evento/img (2).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (2).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                    <a href="~/Content/MyImages/Evento/img (3).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (3).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                    <a href="~/Content/MyImages/Evento/img (4).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (4).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                    <a href="~/Content/MyImages/Evento/img (5).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (5).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                    <a href="~/Content/MyImages/Evento/img (6).jpg" class="fancybox item" data-fancybox="sfalcin">
                        <img src="~/Content/MyImages/Evento/img (6).jpg" class="sfalcin-grid-item img-responsive" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row wow fadeInRightSlow" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="col col-md-12">
                <a href="~/Content/images/mapa.png" class="fancybox" data-fancybox="mapa">
                    <img src="~/Content/images/mapa.png" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</section>
