
<section class="faq section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="faq">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Perguntas Frequentes</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12 wow fadeInLeftSlow" data-wow-duration="1s">

                <div class="question">Posso usar salto alto?</div>
                <div class="answear">O evento vai acontecer num gramado, então evite saltos muito finos, assim você vai poder caminhar normalmente e evitar acidentes.</div>

                <div class="question">É antes ou depois da chácara Irecê?</div>
                <div class="answear">É depois.</div>

            </div>
        </div>
    </div>
</section>

