
<section class="gift-registry section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="gift">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Listas de Presentes</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div> <!-- end of section-title -->

        <div class="row text">
            <div class="col col-md-6 col-md-offset-3">
                <p>Falar sobre a lista</p>
            </div>
        </div>

        <div class="row">
            <div class="clearfix">
                <div class="col col-sm-6 col-xs-6">
                    <div>
                        <a target="_blank" href="http://www.ricardoeletro.com.br/ListaCasamento/ListaPresentes/93782/Jhonatas-e-Sandra/">
                            <img src="~/Content/MyImages/ListaPresentes/ricardo.png" class="img img-responsive" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col col-sm-6 col-xs-6">
                    <div>
                        <a target="_blank" href="http://lista.havan.com.br/Convidado/ItensLista/1/11222201">
                            <img src="~/Content/MyImages/ListaPresentes/havan.png" class="img img-responsive" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</section>
