<section class="gift-registry section-padding" id="gift">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Listas de Presentes</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row informativeText">
            <div class="col col-md-10 col-md-offset-1">
                <p>Nós fizemos uma lista de coisas que vamos precisar na nossa nova casa. Você pode escolher quantos quiser para nos presentear, menos os que estão marcados na cor verde. Estes nós já ganhamos! Os que você já escolheu vão aparecer na cor vermelha. Vamos lá, escolha o seu e nos ajude a montar nosso lar!</p>
            </div>
        </div>

        <div class="row text">
            <div class="col col-xs-12" id="giftlist">
            </div>
        </div>

    </div>
</section>
