<section class="hero hero-slider-wrapper">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="item slide"><img src="~/Content/MyImages/GaleriaSite/grande/S&J-56.jpg" alt="" /></div>
        <div class="item slide"><img src="~/Content/MyImages/GaleriaSite/grande/S&J-31.jpg" alt="" /></div>
        <div class="item slide"><img src="~/Content/MyImages/GaleriaSite/grande/S&J-53.jpg" alt="" /></div>
        <div class="item slide"><img src="~/Content/MyImages/GaleriaSite/grande/S&J-42.jpg" alt="" /></div>
        <div class="item slide"><img src="~/Content/MyImages/GaleriaSite/grande/S&J-11.jpg" alt="" /></div>
    </div>

    <div class="announcement-wrapper">
        <div class="announcement">
            <span class="married-text">
                <span class="wow fadeInUp" data-wow-delay="0.05s">N</span>
                <span class="wow fadeInUp" data-wow-delay="0.10s">ó</span>
                <span class="wow fadeInUp" data-wow-delay="0.15s">s</span>
                <span>&nbsp;</span>
                <span class="wow fadeInUp" data-wow-delay="0.20s">v</span>
                <span class="wow fadeInUp" data-wow-delay="0.25s">a</span>
                <span class="wow fadeInUp" data-wow-delay="0.30s">m</span>
                <span class="wow fadeInUp" data-wow-delay="0.35s">o</span>
                <span class="wow fadeInUp" data-wow-delay="0.40s">s</span>
                <span>&nbsp;</span>
                <span class="wow fadeInUp" data-wow-delay="0.45s">n</span>
                <span class="wow fadeInUp" data-wow-delay="0.50s">o</span>
                <span class="wow fadeInUp" data-wow-delay="0.55s">s</span>
                <span>&nbsp;</span>
                <span class="wow fadeInUp" data-wow-delay="0.60s">c</span>
                <span class="wow fadeInUp" data-wow-delay="0.65s">a</span>
                <span class="wow fadeInUp" data-wow-delay="0.70s">s</span>
                <span class="wow fadeInUp" data-wow-delay="0.75s">a</span>
                <span class="wow fadeInUp" data-wow-delay="0.80s">r</span>
            </span>

            <div class="couple-name wow fadeInUp" data-wow-delay="2s">
                <h1>Sandra &amp; Jhonatas</h1>
            </div>
            <span class="date wow fadeInUp" data-wow-delay="3s">14.10.2017</span>
            <span class="vector wow fadeInUp" data-wow-delay="3.5s"></span>
        </div>
    </div>
</section>
