
<section class="padrinhos section-padding">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2 class="TituloPadrinhos">Os Padrinhos</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6 wow fadeInLeftSlow" data-wow-duration="1s">
                <div class="groomsmen">
                    <h3>Padrinhos da Noiva</h3>
                    <div id="groomsmen-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/odair-soares.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Odair Soares">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/odair-soares.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Odair Soares</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/lucely-uchoa.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Lucely Uchôa">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/lucely-uchoa.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Lucely Uchôa</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/heder.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Eder Costa">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/heder.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Eder Costa</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/samia.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Sâmia Holanda">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/samia.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Sâmia Holanda</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/eduardo-paranagua.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Eduardo Paranaguá">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/eduardo-paranagua.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Eduardo Paranaguá</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/francisca-fernandes.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Francisca Fernandes">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/francisca-fernandes.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Francisca Fernandes</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/antonio-ernani.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Antônio Ernani">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/antonio-ernani.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Antônio Ernani</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/ana-paula-almeida.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Ana Paula Almeida">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/ana-paula-almeida.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Ana Paula Almeida</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/raniel-farias.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Raniel Farias">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/raniel-farias.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Raniel Farias</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/rosangela-justino.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Rosângela Justino">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/rosangela-justino.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Rosângela Justino</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/eguinaldo-alves.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Eguinaldo Alves">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/eguinaldo-alves.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Eguinaldo Alves</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/monica-pollyana-farias.jpeg" class="fancybox" data-fancybox="padrinhosNoiva" data-caption="Monica Pollyana Farias">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/monica-pollyana-farias.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Monica Pollyana Farias</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of groomsmen -->
            </div> 

            <div class="col col-md-6 wow fadeInRightSlow" data-wow-duration="1s">
                <div class="bridesmaids">
                    <h3>Padrinhos do Noivo</h3>
                    <div id="bridesmaids-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/jose-henrique.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="José Henrique de Lima">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/jose-henrique.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>José Henrique de Lima</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/jessica-yasmim.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Jéssica Yasmim F. F. de Lima">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/jessica-yasmim.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Jéssica Yasmim F. F. de Lima</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/jose-moreno.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="José Moreno">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/jose-moreno.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>José Moreno</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/susy-moreno.jpeg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Suzy Moreno">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/susy-moreno.jpeg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Suzy Moreno</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/walteny-araujo.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Walteny Araújo">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/walteny-araujo.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Walteny Araújo</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/jocileuza-araujo.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Jocileuza Araújo">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/jocileuza-araujo.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Jocileuza Araújo</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/rhyan-araujo.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Rhyan Araújo">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/rhyan-araujo.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Rhyan Araújo</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/larissa-araujo.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Larissa Araújo">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/larissa-araujo.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Larissa Araújo</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/milton-quintana.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Milton Quintana">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/milton-quintana.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Milton Quintana</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-xs-6">
                                    <div class="box">
                                        <a href="~/Content/MyImages/Padrinhos/grande/eliana-quintana.jpg" class="fancybox" data-fancybox="padrinhosNoivo" data-caption="Eliana Quintana">
                                            <img src="~/Content/MyImages/Padrinhos/pequeno/eliana-quintana.jpg" class="img img-responsive" alt="" />
                                            <div class="details">
                                                <div>
                                                    <h5>Eliana Quintana</h5>
                                                    <span class="icon"><i class="fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of bridesmaids -->
            </div> 
        </div>
    </div>
</section>
