

<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row section-title modal-title" style="padding:30px;">
                    <div class="title-box">
                        <div class="double-line double-line-top">
                            <i class="fi flaticon-social"></i>
                            <i class="fi flaticon-social"></i>
                        </div>
                        <h3>Oba!! Vamos lá! Antes precisamos te identificar!</h3>
                        <h5>Escolha abaixo uma forma de nos dizer quem você é.</h5>
                        <div class="double-line double-line-bottom"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-lg-12">
                        <div id="firebaseui-auth-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
