<header id="header">
    <nav class="navigation navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sandra &amp; Jhonatas</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <button class="close-navbar"><i class="fa fa-close"></i></button>
                <ul class="nav navbar-nav">
                    <li class="mobile-menu-logo">Sandra <i class="fa fa-heart"></i> Jhonatas</li>
                    <li class="active"><a href="#home">Início</a></li>
                    <li><a href="#couple">Casal</a></li>
                    <li><a href="#story">História</a></li>
                    <li><a href="#events">Evento</a></li>
                    <li><a href="#pais">Pais</a></li>
                    <li><a href="#padrinhos">Padrinhos</a></li>
                    <li><a href="#pequeninos">Pequeninos</a></li>
                    <li><a href="#gift">Presentes</a></li>
                    <li><a href="#people">Pessoas</a></li>
                    <li><a href="#gallery">Galeria</a></li>
                    <li><a href="#faq">Perguntas</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="logo-bottom-shape-wrapper container">
        <div class="logo-bottom-shape">
            <span>S <i class="fa fa-heart"></i> J</span>
        </div>
    </div>
</header>
