<section class="organization section-padding" id="organization">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2 class="titulo">Organização</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>
        <div class="row informativeText">
            <div class="col col-md-10 col-md-offset-1">
                <p>Eles são as engrenagens desse evento. São pessoas super competentes, prontas para fazer da nossa festa a melhor possível!</p>
            </div>
        </div>
        <div class="row wow fadeInLeftSlow" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="titleName">Decoração e Buffet</div>
                <a target="_blank" href="https://www.facebook.com/LilasEventos/" title="Lilás Eventos">
                    <img src="~/Content/MyImages/Organizadores/pequeno/Lilás Eventos.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Lilás Eventos</div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="titleName">Cerimonial</div>
                <a target="_blank" href="https://www.facebook.com/ednaluciacerimonial/" title="Edna Cerimonial e Eventos">
                    <img src="~/Content/MyImages/Organizadores/pequeno/EdnaCerimonialeEventos.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Edna Cerimonial e Eventos</div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="titleName">Fotografia</div>
                <a target="_blank" href="https://www.facebook.com/igorflaviofotografia/" title="Igor Flávio">
                    <img src="~/Content/MyImages/Organizadores/pequeno/Igor Flávio.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Igor Flávio</div>
            </div>

            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="titleName">Som e Iluminação</div>
                <a target="_blank" href="https://www.facebook.com/duebcpmw" title="Du Ebc SomLuz">
                    <img src="~/Content/MyImages/Organizadores/pequeno/Du Ebc SomLuz.jpg" class="img img-responsive" alt="" />
                </a>
                <div class="titleName">Du Ebc SomLuz</div>
            </div>
        </div>
    </div>
</section>

