
<section class="paisDosNoivos section-padding" id="pais">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Os Pais dos noivos</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6 wow fadeInLeftSlow" data-wow-duration="1s">
                <div class="groomsmen">
                    <h3>Pais da Noiva</h3>
                    <div class="groomsmen-slider">
                        <div class="row">
                            <div class="col col-xs-6">
                                <div class="box">
                                    <a href="~/Content/MyImages/Pais/grande/fotoDaMaeDaNoiva.jpg" class="fancybox" data-fancybox="pais" data-caption="Maria Soares Ribeiro - Mãe da noiva">
                                        <img src="~/Content/MyImages/Pais/pequeno/fotoDaMaeDaNoiva.jpg" class="img img-responsive" alt="">
                                        <div class="details">
                                            <div>
                                                <h5>Maria Soares Ribeiro</h5>
                                                <span>Mãe da noiva</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <div>
                                        <h4>Maria Soares Ribeiro</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-6">
                                <div class="box">
                                    <a href="~/Content/MyImages/Pais/grande/fotoDoPaiDaNoiva.jpg" class="fancybox" data-fancybox="pais" data-caption="Valdomiro Ribeiro - Pai da noiva (In memoriam)">
                                        <img src="~/Content/MyImages/Pais/pequeno/fotoDoPaiDaNoiva.jpg" class="img img-responsive" alt="">
                                        <div class="details">
                                            <div>
                                                <h5>Valdomiro Ribeiro</h5>
                                                <span>Pai da noiva</span>
                                                <span>In memoriam</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <div>
                                        <h4>Valdomiro Ribeiro</h4>
                                        <small style="color:grey;">In memoriam</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of groomsmen -->
            </div> <!-- end of col -->


            <div class="col col-md-6 wow fadeInRightSlow" data-wow-duration="1s">
                <div class="bridesmaids">
                    <h3>Pais do Noivo</h3>
                    <div class="bridesmaids-slider">
                        <div class="row">
                            <div class="col col-xs-6">
                                <div class="box">
                                    <a href="~/Content/MyImages/Pais/grande/fotoDaMaeDoNoivo.jpg" class="fancybox" data-fancybox="pais" data-caption="Rosângela Mota - Mãe do noivo">
                                        <img src="~/Content/MyImages/Pais/pequeno/fotoDaMaeDoNoivo.jpg" class="img img-responsive" alt="">
                                        <div class="details">
                                            <div>
                                                <h5>Rosângela Mota</h5>
                                                <span>Mãe do noivo</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <div>
                                        <h4>Rosângela Mota</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-6">
                                <div class="box">
                                    <a href="~/Content/MyImages/Pais/grande/fotoDoPaiDoNoivo.jpg" class="fancybox" data-fancybox="pais" data-caption="Carlos Mota - Pai do noivo">
                                        <img src="~/Content/MyImages/Pais/pequeno/fotoDoPaiDoNoivo.jpg" class="img img-responsive" alt="">
                                        <div class="details">
                                            <div>
                                                <h5>Carlos Mota</h5>
                                                <span>Pai do noivo</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <div>
                                        <h4>Carlos Mota</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of bridesmaids -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section>
