<section class="bquotes">
    <h2 class="hidden">Recados</h2>
    <div class="container">
        <div class="row">
            <div class="col col-md-10 col-md-offset-1">
                <div class="owl-carousel passagens owl-theme">
                    <div>
                        <div class="text">
                            <p>Tudo tem o seu tempo determinado, e há tempo para todo o propósito debaixo do céu.</p>
                        </div>
                        <div class="footer">
                            <p>Eclesiastes <span>3:1</span></p>
                        </div>
                    </div>
                    <div>
                        <div class="text">
                            <p>Porque os meus pensamentos não são como os vossos pensamentos, nem os vossos caminhos os meus caminhos, diz o Senhor.</p>
                        </div>
                        <div class="footer">
                            <p>Isaías <span>55:8</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of container -->
</section>
