
<section class="pequeninos section-padding parallax-flower" data-bg-image-top="/Content/images/big-flower.png" data-bg-image-bottom="/Content/images/big-flower-bt.png" id="people">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Nossos Pequeninos</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div> <!-- end of section-title -->
        <div class="row">
            <div class="col col-md-12 wow fadeInRightSlow" data-wow-duration="1s">
                <div class="bridesmaids">
                    <div class="bridesmaids-slider">
                        <div class="row">
                            <div class="col col-xs-3">
                                
                                <div class="box">
                                    <a href="~/Content/MyImages/Criancas/grande/Eduardo.jpg" class="fancybox" data-fancybox="pequeninos" data-caption="Eduardo - Filho do Mozair e Ana Paula">
                                        <img src="~/Content/MyImages/Criancas/pequeno/Eduardo.jpg" class="img img-responsive" alt="" />
                                        <div class="details">
                                            <div>
                                                <h5>Eduardo</h5>
                                                <span>Filho do Mozair e Ana Paula</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <h4>O Pajem</h4>
                            </div>
                            <div class="col col-xs-3">
                                
                                <div class="box">
                                    <a href="~/Content/MyImages/Criancas/grande/Acsana.jpg" class="fancybox" data-fancybox="pequeninos" data-caption="Acsanoa - Filha do Odair e Lucely">
                                        <img src="~/Content/MyImages/Criancas/pequeno/Acsana.jpg" class="img img-responsive" alt="" />
                                        <div class="details">
                                            <div>
                                                <h5>Acsanoa</h5>
                                                <span>Filha do Odair e Lucely</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <h4>A Daminha</h4>
                            </div>
                            <div class="col col-xs-3">
                                
                                <div class="box">
                                    <a href="~/Content/MyImages/Criancas/grande/Julia.jpg" class="fancybox" data-fancybox="pequeninos" data-caption="Júlia - Filha do Osmair e Luiza">
                                        <img src="~/Content/MyImages/Criancas/pequeno/Julia.jpg" class="img img-responsive" alt="" />
                                        <div class="details">
                                            <div>
                                                <h5>Júlia</h5>
                                                <span>Filha do Osmair e Luiza</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <h4>A Florista</h4>
                            </div>
                            <div class="col col-xs-3">
                               
                                <div class="box">
                                    <a href="~/Content/MyImages/Criancas/grande/Exdras.jpg" class="fancybox" data-fancybox="pequeninos" data-caption="Exdras - Filho do Odair e Lucely">
                                        <img src="~/Content/MyImages/Criancas/pequeno/Exdras.jpg" class="img img-responsive" alt="" />
                                        <div class="details">
                                            <div>
                                                <h5>Exdras</h5>
                                                <span>Filho do Odair e Lucely</span>
                                                <span class="icon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <h4>O Porta Alianças</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->

    </div>
</section>
