<!-- Preloader -->
<div class="preloader">
    <div class="middle">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </div>
</div>
