<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row section-title modal-title" style="padding:30px;">
                    <div class="title-box">
                        <div class="double-line double-line-top">
                            <i class="fi flaticon-social"></i>
                            <i class="fi flaticon-social"></i>
                        </div>
                        <h3>Informe os dados abaixo e clique no botão "Enviar"!</h3>
                        <div class="double-line double-line-bottom"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <section class="rsvp" id="rsvp">
                    <div class="row">
                        <div class="col col-lg-12">
                            <div class="rsvp-form-wrapper">
                                <form id="rsvp-form" class="form form-inline" method="post">
                                    <input name="subject" id="subject" type="hidden" />
                                    <div class="row">
                                        <div class="form-group col col-sm-6">
                                            <input type="text" class="form-control" name="name" placeholder="Seu Nome" required>
                                        </div>
                                        <div class="form-group col col-sm-6">
                                            <input type="email" class="form-control" name="email" placeholder="Seu E-mail" required>
                                        </div>
                                        <div class="form-group col col-sm-12">
                                            <textarea name="text" class="form-control" placeholder="Sua mensagem" required></textarea>
                                        </div>
                                        <div class="form-group col col-sm-12">
                                            <button type="submit" id="btnEnviar" class="btn btn-default theme-btn">Enviar</button>
                                            <span id="loader"><img src="/Content/images/rsvp-ajax-loader.gif" alt="Loader"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>