<section class="story section-padding" id="story">
    <div class="container">
        <div class="row section-title">
            <div class="title-box">
                <div class="double-line double-line-top">
                    <i class="fi flaticon-social"></i>
                    <i class="fi flaticon-social"></i>
                </div>
                <h2>Nossa História de Amor</h2>
                <div class="double-line double-line-bottom"></div>
            </div>
        </div>

        <div class="row story-box-wrapper">
            <div class="col col-lg-8">
                <div class="story-box">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#first-meet" aria-controls="first-meet" role="tab" data-toggle="tab">
                                    <i class="fi flaticon-clothes-1"></i>
                                    Como nos conhecemos
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#first-date" aria-controls="first-date" role="tab" data-toggle="tab">
                                    <i class="fi flaticon-calendar-2"></i>
                                    Nosso primeiro encontro
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#proposal" aria-controls="proposal" role="tab" data-toggle="tab">
                                    <i class="fi flaticon-heart-rate-monitor"></i>
                                    O dia em que a pedi em namoro
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#engagement" aria-controls="engagement" role="tab" data-toggle="tab">
                                    <i class="fi flaticon-ring"></i>
                                    O dia do noivado surpresa
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="row tab-pane fade in active" id="first-meet">
                                <div class="col col-lg-5 col-md-4 col-sm-5">
                                    <img src="~/Content/MyImages/Historia/fotoDeComoNosConhecemos.jpg" class="img img-responsive" alt="" />
                                </div>
                                <div class="col col-lg-7 col-md-8 col-sm-7 story-details">
                                    <h3>Como nos conhecemos</h3>
                                    <span class="date">09-JUL-2015</span>
                                    <p>Adivinha só! Nós somos um casal do Tinder que deu certo! :-) Quando vi o perfil dela já dei logo um super like! Trocamos algumas mensagens pelo aplicativo e logo fomos pro WhatsApp. Enquanto isso vasculhávamos os álbuns do Facebook um do outro pra saber mais. Foi amor a primeira vista, depois do contato online já tratamos de marcar logo o primeiro encontro...</p>
                                </div>
                            </div>

                            <div role="tabpanel" class="row tab-pane fade" id="first-date">
                                <div class="col col-lg-5 col-md-4 col-sm-5">
                                    <img src="~/Content/MyImages/Historia/fotoDoPrimeiroEncontro.jpg" class="img img-responsive" alt="" />
                                </div>
                                <div class="col col-lg-7 col-md-8 col-sm-7 story-details">
                                    <h3>Nosso primeiro encontro</h3>
                                    <span class="date">12-JUL-2015</span>
                                    <p>As coisas já começaram bem. Perguntei o que ela gostava e logo veio a resposta perfeita: Barzinho, sertanejo e açaí!! Quando cheguei já consegui identificá-la logo de cara. Era linda! Foram necessárias apenas algumas frases pra eu ter certeza. No final do encontro ela toda independente foi pro seu carro, eu todo esperto fui tentar descolar o primeiro beijo. Sem chance! Ela me empurrou e disse que eu estava indo muito rápido. Deu um beijinho no rosto, virou, foi embora e me deixou com gosto de quero mais...</p>
                                </div>
                            </div>

                            <div role="tabpanel" class="row tab-pane fade" id="proposal">
                                <div class="col col-lg-5 col-md-4 col-sm-5">
                                    <img src="~/Content/MyImages/Historia/fotoDoPedidoDeNamoro.jpg" class="img img-responsive" alt="" />
                                </div>
                                <div class="col col-lg-7 col-md-8 col-sm-7 story-details">
                                    <h3>O dia em que a pedi em namoro</h3>
                                    <span class="date">14-OUT-2015</span>
                                    <p>O pedido aconteceu num banquinho de um praça. Já sabíamos que ia dar namoro, então só faltava o pedido. Ajoelhei ali mesmo na calçada e pedi pra ser seu namorado. Ela demorou um pouco, pensooouuu, meu joelho começou a doer por causa do cimento da calçada, mas logo vi aquele sorriso lindo dizendo que aceitava! A partir dai começamos uma historia de descobertas, entrega, aceitações e muito amor!</p>
                                </div>
                            </div>

                            <div role="tabpanel" class="row tab-pane fade" id="engagement">
                                <div class="col col-lg-5 col-md-4 col-sm-5">
                                    <img src="~/Content/MyImages/Historia/fotoDoNoivado.jpg" class="img img-responsive" alt="" />
                                </div>
                                <div class="col col-lg-7 col-md-8 col-sm-7 story-details">
                                    <h3>O dia do noivado surpresa</h3>
                                    <span class="date">01-JAN-2017</span>
                                    <p>Eu já estava com as alianças compradas a semanas. Tentei o pedido em alguns momentos, mas não achava a oportunidade certa. Foi então que combinamos a virada do ano na casa de pessoas muito queridas. Então aproveitei a oportunidade e fiz o grande pedido. </p>
                                    <p>Quer ver como foi? Então <a target="_blank" href="https://youtu.be/n_y0-Tlb9K4">clica aqui...</a></p>
                                    <p>Também teve o anúncio para a outra parte da família, aconteceu na festa de 30 anos da Sandra. Quer ver também? Então <a href="https://youtu.be/30X6oQPyKao" target="_blank">clica aqui...</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-4">
                <div class="pic-holder">
                    <img style="height: 439px;" src="~/Content/MyImages/Historia/fotoAgoraVamosNosCasar.jpg" class="img img-responsive" alt="" />
                    <h3>E agora vamos nos casar!</h3>
                </div>
            </div>
        </div>

    </div>
</section>
