
@{
    ViewBag.Title = "Presentes";
}
@section head {
    <link href="~/Content/css/presentes.css" rel="stylesheet" />    
}

<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Cadastro de presentes.</h5>
            <form class="" method="post" action="#" id="target">

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-gift fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nome do Presente" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" id="btnCadastrar" class="btn btn-default btn-lg btn-block login-button">Cadastrar</button>
                </div>
            </form>
            <hr />
            <label>Presentes cadastrados</label>
            <div class="well" id="giftGrid">

            </div>

        </div>
    </div>
</div>
@section scripts {
    <script>
        var database=firebase.database();
        var giftRef=firebase.database().ref('gift/');
        giftRef.on('value',function(snapshot)
        {
            let list=_.sortBy(snapshot.val(),'name');
            $.each(list,function(key,value)
            {
                toggleLine(value);
            });
        });

        giftRef.on('child_changed',function(snapshot)
        {
            console.log(snapshot.val());
            var element=$("#"+snapshot.key)
            $(element).parent().find('.content')[0].textContent=snapshot.val().name
        });


        $("#target").submit(function(event)
        {
            event.preventDefault();
            writeGiftData()
            $('#name').val('');
            return;
        });

        function writeGiftData()
        {
            var gift=$('#name').data('gift');
            if(!gift) { gift={};}
            gift.name=$('#name').val().toUpperCase();
            if(gift.name.length>0)
            {
                if(!gift.key)
                {
                    gift.key=firebase.database().ref().child('gift/').push().key;
                }
                var updates={};
                updates['gift/'+gift.key]=gift;
                firebase.database().ref().update(updates);
            }
        }

        function toggleLine(data)
        {
            var element=$("#"+data.key).prop('id');
            if(!element)
            {
                $('#giftGrid').prepend('<div class="row"><div class="col-lg-6 content">'+data.name+'</div><div class="col-lg-4">'+(data.godfatherName?data.godfatherName:'')+'</div><a title="Editar" id="'+data.key+'" href="javascript:;" onclick="edit(this)" ><div class="col-lg-1"><i class="fa fa-pencil-square-o fa-fw"></i></div></a><a title="Excluir" class="deleteBtn" id="'+data.key+'" href="javascript:;" onclick="remove(this)" ><div class="col-lg-1"><i class="fa fa-times fa-fw"></i></div></a></div>')
                var a=$("a#"+data.key);
                $(a).data('gift',data);

            }
        }

        function edit(row)
        {
            var key=$(row).prop('id');
            $('#name').data('gift',$(row).data('gift'));
            $('#name').val($(row).data('gift').name);
        }

        function remove(row)
        {
            var key=$(row).prop('id');
            $("#"+key).parent().fadeOut();
            setTimeout(function() { $("#"+key).parent().remove(); },2000);
            firebase.database().ref('gift/'+key).remove();
        }

    </script>
}